registry=https://spglobal.pkgs.visualstudio.com/_packaging/MI/npm/registry/
always-auth=false
;node-options=--max_old_space_size=8192
; we are no longer keeping keys in this file, since they only last for 12 hours
; if your are getting npm related build errors, (for example: Error while attempting to install Node.js packages)
; use command line to run the following two commands from the SNL.Services.Application.Common.Service directory
; npm install -g vsts-npm-auth --registry https://registry.npmjs.com --always-auth false
; vsts-npm-auth -config .npmrc
